/build/
/buildVerify/
/buildRelease/
/buildInstanceRelease/
/.toolchain/
/toolchain/stage/
/dist/
/.vs/
/.vscode/
/.idea/
/.cache/
/.clangd/
**/__pycache__/
*.py[cod]
*.user
*.suo
*.VC.db
*.opendb
*.autosave
*.recovery
*.sgdiag
*.pdb
*.obj
*.ilk
*.exp
*.lib
*.dll
*.exe
*.7z
*.zip
